@*
    //-----------------------------------------------------------------------------
    //  Copyright (c) 2014 by Dell Inc.
    //
    // All rights reserved.  This software may not be copied, disclosed,
    // transferred, or used except in accordance with a license granted
    // by Dell Inc.  This software embodies proprietary information
    // and trade secrets of Dell Inc.
    //
    //-----------------------------------------------------------------------------
*@
<header class="container">
    <div class="inner">
        <a id="logo" href="@Url.Action("index", "dashboard")">
            <img src="/library/img/dell-logo.png" width="47" height="47" />
            <span class="text"></span>
        </a>
        <h1>@Localization.Get("Login", "_Page_Views_Account_Login_cshtml")</h1>

        <ul class="user">
            @if (ViewBag.User != null)
            {
                <li><a href="#"><span class="glyphicon glyphicon-user"></span>Welcome @ViewBag.User.FirstName</a></li>
                <li>
                    @Html.ActionLink("Log Off", "LogOut", "Account")
                </li>
            }
            else
            {
                <li>@Html.ActionLink("Log On", "Login", "Account")</li>
            }

            @if (ViewBag.User != null)
            {
                <li class="status"></li>
                <li class="language">
                    <select class="" name="top-anything-the-world" id="selectCultureTop">
                        <option value="en-US" @(System.Threading.Thread.CurrentThread.CurrentUICulture.Name == "en-US" ? "selected" : "")>English</option>
                        <option value="es-ES" @(System.Threading.Thread.CurrentThread.CurrentUICulture.Name == "es-ES" ? "selected" : "")>Spanish</option>
                        <option value="fr-FR" @(System.Threading.Thread.CurrentThread.CurrentUICulture.Name == "fr-FR" ? "selected" : "")>French</option>
                        <option value="de-DE" @(System.Threading.Thread.CurrentThread.CurrentUICulture.Name == "de-DE" ? "selected" : "")>German</option>
                    </select>
                </li>
                <li class="name">
                   
                </li>
                <li class="log-out"></li>
            }
        </ul>
    </div>
</header>
